body {

    min-height: 2000px;
}



/*------------------------------------------------------Main Text/font from  google

font-family: 'Lobster', cursive;
font-family: 'Courgette', cursive;
font-family: 'Roboto Condensed', sans-serif;



-----------------------------*/

/*        special colors go here  ----------------





--------------------------------------------    */




/* gradients found here ----------------------------



--------------------------------------------*/

.nav_height_style {

   padding-top: 2rem;
    padding-bottom: 2rem;

}
.navbar-toggler {

    border: 0px;
}

.hero_style_bg {

    background: #5C258D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: inherit;
    width: 100%;
    margin-bottom: auto;

}

.hero_mom_style {

    width: 200px;
    height: 200px;
   box-shadow: transparent 4px 4px 4px #d2d2d2;
}

.border-white {

    border-width: 0.3rem !important;
}

.logo_style {

    color: #5C258D;
    font-family: 'Lobster', cursive;
}

.hero-header-text {

    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Lobster', cursive;
}

.hero-text {

    padding-bottom: 2rem;
    padding-top: 2rem;
}

.flat_btn_style{

    border-radius: 0px;

}
.pill_btn-style {

    border-radius: 17px;
}

.body_font_style {

  font-family: 'Roboto Condensed', sans-serif;
}

.header_font_style {

  font-family: 'Courgette', cursive;
}

#family {

  margin-top: -10rem;
  margin-bottom: auto;
  height: inherit;
}

#travel {

  margin-top: -19rem;
  margin-bottom: auto;
  height: inherit;
}

.patty_style_1 {

  background-size: cover;
  background-image: url(../img/patty_babies.jpg);
  height: 50rem;
  width: 100%;
}
.patty_text_style {

  margin-top: 5rem;
  margin-bottom: 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;

}

.patty_travel_img {

  background-size: cover;
  background-image: url(../img/chaz_mom.jpg);
  height: 50rem;
  width: 100%;
}

.patty_travel {

  background: linear-gradient(to right bottom, #000000 90%, #ffffff 50%);
}
